<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/starbucks/style.css' %}">
    <title>Welcome to Starbucks!</title>
</head>

<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img class="logo" src="{% static 'img/starbucks/logo.png' %}"></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">What's New</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>

        <div class="content">
            <div class="textBox">
                <h2>It's not just Coffee<br>It's <span>Starbucks</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique ex vel neque ullamcorper, egestas consectetur justo eleifend. Morbi pretium nisi non est porttitor, id iaculis elit vehicula. Quisque eu porttitor nisl. </p>
                <a href="#">Learn More</a>
            </div>
            <div class="imgBox">
                <img src="{% static 'img/starbucks/img1.png' %}" class="starbucks">
            </div>
        </div>

        <ul class="thumb">
            <li><img onclick="imgSlider('{% static 'img/starbucks/img1.png' %}');changeCircleColor('#017143')" src="{% static 'img/starbucks/thumb1.png' %}"></li>
            <li><img onclick="imgSlider('{% static 'img/starbucks/img2.png' %}');changeCircleColor('#eb7495')" src="{% static 'img/starbucks/thumb2.png' %}"></li>
            <li><img onclick="imgSlider('{% static 'img/starbucks/img3.png' %}');changeCircleColor('#d752b1')" src="{% static 'img/starbucks/thumb3.png' %}"></li>
        </ul>

        <ul class="sci">
            <li>
                <a href="#"><img src="{% static 'img/starbucks/facebook.png' %}"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'img/starbucks/twitter.png' %}"></a>
            </li>
            <li>
                <a href="#"><img src="{% static 'img/starbucks/instagram.png' %}"></a>
            </li>
        </ul>
    </section>

    <script type="text/javascript" src="{% static 'js/starbucks/main.js' %}"></script>

</body>

</html>